* {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 2px solid lightblue;
}

/* закругление углов карты*/
.map-wrapper {
  border: 1px solid transparent;
  border-radius: 20px;
  overflow: hidden;
  outline: none;
  transform: translateZ(0);
}

/* маркер компании */
.company-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 64px;
  background-color: #1C1263;
  border: 2px solid #1C1263;
  position: relative;
}

.company-marker:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  z-index: 1;
  border-top: 10px solid #1C1263;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  transform: translate(-50%, calc(100% - 1px));
}

/* кластер */
.cluster-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #1C1263;
  background-color: #fff;
  position: relative;
  font-weight: bold;
  color: #1C1263;
}

/* партнерский маркер */
.partner-marker {
  position: relative;
}

.partner-marker._active .partner-marker__tooltip {
  opacity: 1;
  z-index: 800;
}

.partner-marker__pin {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #1C1263;
  background-color: #fff;
  transition: all .3s ease;
  cursor: pointer;
  position: relative;
}

.partner-marker__pin:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  z-index: 1;
  border-top: 10px solid #1C1263;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  transform: translate(-50%, calc(100% - 1px));
}

/* тоолтип */
.partner-marker__tooltip {
  position: absolute;
  top: -1rem;
  left: 1.8rem;
  width: max-content;
  max-width: 250px;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  opacity: 0;
  transform: translate(-50%, -100%);
  pointer-events: none;
  transition: all .3s ease;
  color: #1C1263;
  font-family: TT Firs Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  z-index: 750;
}

.partner-marker__tooltip-title {
  margin-bottom: 4px;
  font-weight: bolder;
}

.partner-marker__tooltip-text {
  margin-bottom: 4px;
  font-size: 12px;
}

.partner-marker__tooltip-info {
  display: flex;
  align-items: center;
}

.partner-marker__tooltip-icon {
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  min-height: 24px;
}